* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
}


/* Top header */

.top-header {
    background-color: #0d369f;
    padding: 14px 15px;
}

.top-header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.top-header_wrap a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.top-header_left {
    display: flex;
    margin: 0;
}

.top-header_left ul {
    display: flex;
    width: 800px;
    margin: 0;

}

.top-header_left li {
    margin-right: 2em;
    display: inline-block;
}

.top-header_left i {
    margin-right: 5px;
}

.top-header_right {
    margin: 0;
}

.top-header_right ul {
    display: flex;
    justify-content: space-between;
    width: 151.41px;
    margin: 0;
}

.top-header_right i {
    color: #fff;
}

.top-header_wrap i {
    transition: .5s all;
}

.top-header_wrap i:hover {
    color: #ff6e65;
}

.top-header_wrap a {
    transition: .5s all;
}

.top-header_wrap a:hover {
    color: #ff6e65;
}

@media only screen and (max-width: 991px) {
    .top-header {
        display: none;
    }
}

/* header */
.header {
    background-color: #fff;
    padding: 0;
}

#navbarSupportedContent {
    justify-content: flex-end;
align-items: center;
}



.navbar .navbar-brand {
    font-size: 26px;
    color: #0d369f;
    font-weight: 600;
    transition: .5s all;
}

.navbar .navbar-brand:hover {
    color: #ff6e65;

}

.nav-item {
    padding: 0, 12px;
    display: flex;
    align-items: center;
}

.navbar-light .navbar-nav .nav-link {
    transition: .5s all;

}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ff6e65;

}


.nav-item a {
    padding: 6px 0;
    font-size: 16px;
    font-weight: 600;
}

.navbar-nav {
    margin-right: 20px;
    gap: 5px;
}

.nav-search {
    position: relative;
    z-index: 1040;
}

.nav-search button {
    position: absolute;
    right: 5px;
    z-index: 1040;

}

.nav-search input {
    padding-right: 30px;
    border: 2px solid #eee;
    border-radius: 30px;
    height: 46.5px;
    width: 225px;

}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
    background: #fff;
    border: 1px solid #fff;
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
    min-width: 12rem;
    padding: 1rem 0;
}

.dropdown-menu .dropdown-item {
    font-size: 16px;
    color: #060606;
    padding: 5px 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.search-btn i {
    color: #0d369f;
    transition: .5s all;
}

.search-btn i:hover {
    color: #ff6e65;

}

.form-control {
    transition: none;
}

.form-control:focus {
    border-color: #eee;
    box-shadow: none;
}

.dropdown-toggle::after {
    display: none;

}

.navbar-toggler{
    border: none;
    padding: 0;
}

.navbar-light .navbar-toggler-icon{
    border-radius: 3px;
    line-height: 34px;
    height: 34px;
    width: 34px;
    color: #fff;
    background-image: none;
    background-color: #0d369f;
}

@media only screen and (max-width: 992px) {
    .navbar-nav{
        align-items: center;
    }
  }

  @media only screen and (max-width: 991px){
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        transform: translateX(0px);
        border: 1px solid #eee;
        text-align: center;
    }
  }

  @media only screen and (max-width: 991px){
    .navbar-expand-lg .navbar-nav .dropdown {
        flex-direction: column;
    }
  }

  
  






/* sidebar */
.sidebar__content {
    width: 90px;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 60px;
    z-index: 1030;
    padding: 40px 5px;
    padding-top: 70px;
    margin-bottom: 70px;
    background: #0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.sidebar__header {
    float: right;
    position: fixed;
    right: 0px;
    top: 70px;
    width: 90px;
    z-index: 1030;
    text-align: center;
}

.sidebar__header a {
    background: #0D1326;
    width: 50px;
    height: 50px;
    margin-left: 25px;
    line-height: 50px;
    text-align: center;
    color: #e6ebff;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    opacity: .5;
}

.sidebar__body {
    border-top: 1px solid #41414d;
    padding-top: 30px;
}

.sidebar__body a {
    display: block;
    color: #e6ebff;
    text-decoration: none;
    line-height: 24px;
    font-size: 15px;
    opacity: .6;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
}

.sidebar__body a {
    display: block;
    color: #e6ebff;
    text-decoration: none;
    line-height: 24px;
    opacity: .6;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar__body i {
    display: block;
}

.sidebar__body a:hover {
    opacity: 1;
}

/* Banner */
.owl-nav {
    display: none;
}



.banner-item {
    position: relative;
    width: 100%;
    height: 90vh;
}

.banner-item::before {
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 0;
}

#banner-item-1 {
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: top;
    object-fit: cover;
}

#banner-item-2 {
    background-image: url(../img/banner3.jpg);
    background-size: cover;
    background-position: top;
    object-fit: cover;
}

.banner-info {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 115px;
}

.banner-info h5 {
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
}

.banner-info a {
    margin-top: 48px;
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    border: none;
    transition: all .25s ease-in-out;
}

.banner-info a:hover {
    background-color: #ff6e65;
    color: #fff;
}

.owl-dots {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 24px;
    bottom: 120px;
    z-index: 1;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #ff6e65;
    height: 12px;
    width: 12px;

}

/* Banner bottom */
.banner-bottom{
    margin-top: -4em;
    padding-bottom: 3rem;
}

.banner-bottom-box{
    padding: 50px 35px;
    z-index: 1;
    border-radius: 8px;
    text-align: center;
    position: relative;
    z-index: 1;

}

.banner-bottom-box i{
    font-size: 45px;
    color: #fff;
}

.banner-bottom-box a{
    text-decoration: none;
    color: #fff;
    transition: .5s all;


}

.banner-bottom-box a:hover {
    text-decoration: none;
    color: #000;
}

.title-head{
    margin-top: 25px;
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

.box-1{
    background-color: #037ef3;
}

.box-2{
    background-color: #ffc949;
}

.box-3{
    background-color: #ff4f81;
}

.box-4{
    background-color: #1ee697;
}

@media only screen and (max-width: 768px) {
    .banner-bottom-item {
      padding: 0px 15px;
      margin-bottom: 20px;
    }
  }

@media only screen and (min-width: 768px) {
    .banner-bottom-item {
      padding: 0px 15px;
      margin-bottom: 20px;
    }
  }

@media only screen and (min-width: 992px) {
    .banner-bottom-item {
      padding: 0px 8px;
    }
  }




/* wellcome */
.wellcome__wrap {
    margin: auto;
    max-width: 1200px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.title {
    margin-bottom: 4rem;
}
.title-main {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}
.title-main span {
    color: #ff6e65;
}
.title-main:before,
.title-main:after {
    content: "";
    background-color: grey;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}
.title-main:before {
    left: -20px;
    bottom: -8px;
}

.title-main:after {
    left: 20px;
    bottom: -15px;
}
.wellcome__content {
    max-width: 1200px;   
    margin: auto;
    display: flex;
    justify-items: center;
    margin-top: 40px;
}
.item-img i{
    color: #0d369f;
    font-size: 30px;
    background:rgb(13 54 159 / 9%);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}
.item-info{
    margin-top: 1.5rem !important;
}
.item-info a{
    color: black;
    text-decoration: none;
    background-color: transparent;
    transition: all .5s;
}
.item-info p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}
.item-info a:hover {
    color: #ff6e65;
}

/* course */
.course{
    background-color: #f8f9ff;
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.course .title{
    text-align: center;
}

.course-item{
    margin-top: 48px;
}

.course-card {
    box-shadow: none;
    transition: .4s all ease;
}

.course-card:hover {
    box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);
}

.card-top{
    position: relative;
}

.card-top img{
    display: block;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-top__tag{
    position: absolute;
    left: 30px;
    top: 15px;
}

.card-top__tag1{
    background-color: #ffa100;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    color: #fff;
    margin-right: 5px;
}

.card-top__tag2{
    background-color: #1dc295;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    color: #fff;
    margin-right: 5px;
}

.card-top__tag3{
    background-color: #037ef3;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    color: #fff;
    margin-right: 5px;
}

.course-price{
    position: absolute;
    right: 25px;
    bottom: -15px;
}

.course-price h6{
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: #ff6e65;
    color: #fff;
    box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
    min-width: 70px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.list-unstyled{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-unstyled i{
    color: #ff6e65;
}

.card-content{
    padding: 20px;
    border: 1px solid #eee;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #fff;
}

.card-content__body a{
    color: #060606;
    transition: .5s all;
}

.card-content__body a:hover {
    text-decoration: none;
    color: #ff6e65;
}

.card-content__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    margin-top: 3rem;
    border-top: 1px solid #eee;
}

.card-content__bottom a{
    font-weight: 600;
    font-size: 14px;
    color: #ff6e65;
    transition: .25s all ease-in-out;
}

.card-content__bottom a:hover{
    color: #0d369f;
}

.rating-list{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.rating-list i{
    color: #ffc949;
    font-size: 15px;
}

.course-button{
    text-align: center;
    margin-top: 3rem;
}

.course-button a{
    display: inline-block;
    padding: 14px 30px;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background: #ff6e65;
    color: #fff;
    transition: 0.3s ease-out;
}

.course-button a:hover{
    text-decoration: none;
    background-color: #0d369f;
}

/* grids */
.grids__wrap {
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-bottom: 8rem;
    padding-top: 8rem;
    max-width: 100%;
}
.grids__item {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    margin-bottom: 25px;
}
.grids-icon {
    margin-right: 1em;
}
.grids-icon i {
    color: #0d369f;
    font-size: 28px;
    background: rgb(13 54 159 / 9%);
    width: 65px;
    height: 66px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
}
.grids-icon-info h5 {
    font-size: 20px;
    line-height: 30px;
    color: #060606;
    font-weight: 600;
    margin-bottom: 6px;
}
.grids-icon-info p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}