* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Top header */

.top-header {
    background-color: #0d369f;
    padding: 14px 15px;
}

.top-header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.top-header_wrap a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.top-header_left {
    display: flex;
    margin: 0;
}

.top-header_left ul {
    display: flex;
    width: 800px;
    margin: 0;

}

.top-header_left li {
    margin-right: 2em;
    display: inline-block;
}

.top-header_left i {
    margin-right: 5px;
}

.top-header_right {
    margin: 0;
}

.top-header_right ul {
    display: flex;
    justify-content: space-between;
    width: 151.41px;
    margin: 0;
}

.top-header_right i {
    color: #fff;
}

.top-header_wrap a,i{
    transition: .5s all;
}

.top-header_wrap a:hover, i:hover {
    color: #ff6e65;
}

@media only screen and (max-width: 991px){
    .top-header {
        display: none;
    }
}
